.list-item {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.9);
}
.list-item:last-child {
  border-bottom: none;
}
